.brand-logo {
font-family: 'Lalezar', cursive;
color: white;
}

.question-text {
    font-family: 'Gentium Basic', serif;
    color:rgba(1, 7, 85, .9)
    background-color: rgba(254, 238, 215);
}


body {
    background-color: rgba(1, 7, 85, .9)!important; 
    margin: auto;
}
