.brand-logo {
font-family: 'Lalezar', cursive;
color: white;
font-size: 50px;
}

h2 {
    font-family: 'Gentium Basic', serif;
    color:rgba(1, 7, 85, .9);
    background-color: rgba(254, 238, 215);
    font-size: 24px;
    padding: 10px 20px 10px;
    margin-top: 30px;
    margin-bottom: 10px;
}

p {
    padding: 10px;

}

body {
    background-color: rgba(1, 7, 85, .9)!important; 
    margin: auto;
    color: white;
    padding: 20px;
    border: 20px;
    max-width: 500px;

}


